/* Style sheet for the main Nucamp page */

$color-primary: #3046C5;
$color-secondary: #5637dd;
$color-pale: #CEC8FF;
$color-mid: #901CAD;
$color-dark: #60106b;
$color-black-transparent: rgba(0, 0, 0, 0.5);

$body-font: "Open Sans" , sans-serif;
$header-font: "Lobster" , cursive;


body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
  font-family: "Lobster", cursive;

}

h1 {
  color:white;
}


h2 {
  color: $color-primary;
}

header {
  h2 {
  color: $color-pale;
  }
}

.site-footer {
  background-image: linear-gradient($color-pale, #fff);
  padding: 20px 0;
}

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, $color-secondary, $color-primary, $color-dark);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.navbar {
  background-color: $color-mid;
}

/* .tab-content {
  border: 1px solid #ddd;
  border-top: none;
  padding: 10px;
} */

a, a:hover {
  color: inherit;
  text-decoration: none;
}

.carousel-caption {
  background-color: $color-black-transparent;
}

.carousel {
  border: solid black;
}

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
}
