/* Style sheet for the main Nucamp page */
body {
  font-family: "Open Sans", sans-serif; }

h1, h2, h3 {
  font-family: "Lobster", cursive; }

h1 {
  color: white; }

h2 {
  color: #3046C5; }

header h2 {
  color: #CEC8FF; }

.site-footer {
  background-image: linear-gradient(#CEC8FF, #fff);
  padding: 20px 0; }

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #5637dd, #3046C5, #60106b); }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.navbar {
  background-color: #901CAD; }

/* .tab-content {
  border: 1px solid #ddd;
  border-top: none;
  padding: 10px;
} */
a, a:hover {
  color: inherit;
  text-decoration: none; }

  /* custom CSS */
  html,body{
    height: 100%; width: 100%;
  }
  
  .my-nav {
    background-color: rgba(0,0,0,0.70)!important;
  }
  .my-nav .nav-link {
    color: #ffffff;
     font-size: 18px;
    }
  
  .my-nav .nav-link:hover {
    color: red;
  }

  .fa-bars { 
    color: white;
  }
  
  #home {
    background-image: url(/img/OldRestraunt.png);
    background-position: center center;background-attachment: fixed;
    background-size: contain;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-color:black;
  }
  
  .landing-text{
    position: absolute;
    top: 38%;
    text-align: center;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4em;
  }
  
  .landingheading1 {
    font-size: 4em;
    text-transform: capitalize;
  }

  .landingheading2 { 
    font-size: 35px;
    text-transform: capitalize;
  }
  
  
  /*about*/
  .top-heading p{
    width: 100%; 
    text-align: center; 
    color: #787878; 
    font-size: 4em; 
    text-transform: capitalize;
  }

  .card1,.card2,.card3 {
    text-align: center;
    border: none;
    border-radius: 0px 30px 0px 30px;
    box-shadow: -webkit-box-shadow -19px 19px 43px 0px rgba(0,0,0,0.61)
    -moz-box-shadow -19px 19px 43px 0px rgba(0,0,0,0.61);
    box-shadow: -19px 19px 43px 0px rgba(0,0,0,0.61);
  }
  
  .card i{
    color: red;
    font-size: 60px;
    margin-top: 25px;
  }
  
  .card .card-title {
    font-weight: bold;
     font-size: 25px;
      color: dimgray;
  }

  .card .card-text {
    color: #737373;
    font-weight: 600;
  }

  .card1,.card3 {
    background-color: rgba(0,0,0,0.1); 
    transition: 1s;
  }

  .card1:hover,.card3:hover {
    background-color: rgba(0,0,0,0.25); transition: 1s;
  }
  .card2 {
    background-color: rgba(0,0,0,0.05); transition: 1s;
  }
  .card2:hover {
    background-color: rgba(0,0,0,0.25); transition: 1s;
  }
  /*about*/
  
  /*History*/
  .custom-btn {
    background-color: white;
     border-color: red;
    color: dimgray;transition: 1s;
  }

  .custom-btn:hover {
    background-color: red; 
    border-color: white; 
    color: white;transition: 1s;
  }

  .bg-gray {
    background-color: #f0f0f0;
  }

  .hero-heading {
    color: red;
    font-size: 35px;
  }

  .hero-paragraph {
    color: #767676; 
    font-size: 18px;
  }

  .hero-img {
    border-radius: 0px 30px 0px 30px;
    max-width: 100%;
    max-height: 100%;
    /* This rule fits the image inside it's container element
    while maintaining the original image aspect ratio */
    object-fit: contain;
  }

  .modal-header {
    background-color: black;
  }
  /*History*/
  
  
  /*Reasons to Visit Us start*/
  .reason-to-visit {
    background-image: url(/img/banner-filtert.jpg);
    background-size: contain;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: black;
    min-height: 40em;
  }
 
  i.like-icon {
    color: red;
    font-size: 30px;
    margin-top: 0%;
    padding-right: 5px;
  }

  .card4 {
    background-color: none;
    border: transparent;
  }
 .text-muted {
    vertical-align: text-top;
    color: black!important;
  }

  .blockquote-footer {
    background-color: white;
    color: black;
  }

  .red-text {
    color: red;
  }

  .card4 .card-text {
    color: aliceblue;
    font-size: 18px;
  } 
  /*Reasons to Visit Us end*/

  /*team start*/
  .card-team {
    border: none;
  }
  .card-team .card-img-top {
    border-radius: 0px 30px 0px 30px;
    box-shadow: -webkit-box-shadow -18px 17px 50px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -18px 17px 50px -12px rgba(0,0,0,0.75);
    box-shadow: -18px 17px 50px -12px rgba(0,0,0,0.75);
  }
  /*team end*/
  
  /*paralalxeffect start*/
  .proud {
    background-image: url(/img/Capture16.JPG);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;}
  /*paralalxeffect end*/ 
  
  /*blog start*/
  .card-blog {
    border: none;
  }
  .card-blog .card-img-top {
    border-radius: 0px 30px 0px 30px;
  }
  /*blog end*/
  
  /*footer start*/
  footer { 
    background-color: black;
    color: white;
    font-size: 1em;}
  
  /*daves styles start*/
  .carousel-image {
    max-height: 8m;
    width: 100%; 
  }

  

 .sides dl dd { 
   text-align: right;
  }
 
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); }
  
  .carousel {
    border: solid black;
  }
  
  .menu-carousel {
    margin: 0;
    padding: 0;
    background-color: black;
  }

  #carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100; }

  
/* Chases styles */
#contactForm{
  margin-top: 50px;
}

#contactParagraph{
  margin-top: 180px;
}